#include <winver.h>

i01  ICON "ico/1.ico"
i02  ICON "ico/2.ico"
i03  ICON "ico/3.ico"
i04  ICON "ico/4.ico"
i05  ICON "ico/5.ico"
i06  ICON "ico/6.ico"
i07  ICON "ico/7.ico"
i08  ICON "ico/8.ico"
i09  ICON "ico/9.ico"
i10 ICON "ico/10.ico"
i11 ICON "ico/11.ico"
i12 ICON "ico/12.ico"
i13 ICON "ico/13.ico"
i14 ICON "ico/14.ico"
i15 ICON "ico/15.ico"
i16 ICON "ico/16.ico"
i17 ICON "ico/17.ico"
i18 ICON "ico/18.ico"
i19 ICON "ico/19.ico"
i20 ICON "ico/20.ico"
i21 ICON "ico/21.ico"
i22 ICON "ico/22.ico"
i23 ICON "ico/23.ico"
i24 ICON "ico/24.ico"
i25 ICON "ico/25.ico"
i26 ICON "ico/26.ico"
i27 ICON "ico/27.ico"
i28 ICON "ico/28.ico"
i29 ICON "ico/29.ico"
i30 ICON "ico/30.ico"
i31 ICON "ico/31.ico"
i32 ICON "ico/32.ico"
i33 ICON "ico/33.ico"
i34 ICON "ico/34.ico"
i35 ICON "ico/35.ico"
i36 ICON "ico/36.ico"
i37 ICON "ico/37.ico"
i38 ICON "ico/38.ico"
i39 ICON "ico/39.ico"
i40 ICON "ico/40.ico"
i41 ICON "ico/41.ico"
i42 ICON "ico/42.ico"
i43 ICON "ico/43.ico"
i44 ICON "ico/44.ico"
i45 ICON "ico/45.ico"
i46 ICON "ico/46.ico"
i47 ICON "ico/47.ico"
i48 ICON "ico/48.ico"
i49 ICON "ico/49.ico"
i50 ICON "ico/50.ico"
i51 ICON "ico/51.ico"
i52 ICON "ico/52.ico"
/*
i53 ICON "ico/53.ico"
i54 ICON "ico/54.ico"
i55 ICON "ico/55.ico"
i56 ICON "ico/56.ico"
i57 ICON "ico/57.ico"
i58 ICON "ico/58.ico"
i59 ICON "ico/59.ico"
i60 ICON "ico/60.ico"
i61 ICON "ico/61.ico"
i62 ICON "ico/62.ico"
i63 ICON "ico/63.ico"
i64 ICON "ico/64.ico"
i65 ICON "ico/65.ico"
i66 ICON "ico/66.ico"
i67 ICON "ico/67.ico"
i68 ICON "ico/68.ico"
i69 ICON "ico/69.ico"
i70 ICON "ico/70.ico"
i71 ICON "ico/71.ico"
i72 ICON "ico/72.ico"
i73 ICON "ico/73.ico"
i74 ICON "ico/74.ico"
i75 ICON "ico/75.ico"
i76 ICON "ico/76.ico"
i77 ICON "ico/77.ico"
i78 ICON "ico/78.ico"
i79 ICON "ico/79.ico"
*/


VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "Toolbar - SciTE toolbar icons Lib\0"
            VALUE "CompanyName", "SciTE-Ru\0"
            VALUE "FileDescription", "Toolbar - SciTE toolbar icons Lib\0"
            VALUE "FileVersion", "1.0\0"
            VALUE "InternalName", "toolbar\0"
            VALUE "LegalCopyright", "Copyright © 2008\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "toolbar.dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "Toolbar - SciTE toolbar icons Lib\0"
            VALUE "ProductVersion", "1.0\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
